<h1> This is a board</h1>
<h1>{{room.name}}</h1>
<h2>Number of players: {{room.numOfUsers}}</h2>

<ul>
  <li ng-repeat="(key, value) in room.users">
    {{key}}
  </li>
</ul>

<button ng-click="leaveRoom()">Leave Room</button>

<ul>
  <li ng-repeat="messageObj in messages">
    {{messageObj.sender}}: {{messageObj.message}}
  </li>
</ul>

<form action="javascript:void(0)" ng-submit="createMessage(message)">
  <input type="text" ng-model="message">
  <button>Send Message</button>
</form>

<!-- $('#messagesDiv')[0].scrollTop = $('#messagesDiv')[0].scrollHeight; -->